.sticky-position{
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    background-color: #c4ffdb;  
    z-index: 997; 
    padding-top: 26px;
    background-color: #b2b5bb;
}

.container{
    margin-bottom: 0px !important ;
          display: flex;
          justify-content: space-between;
          background-color: #c4ffdb;;
}

.scroll-container{
    background-color: #5a5353d9; padding-top: 0;
    margin-top: 0; 
    z-index: 111;
    width: 100% ;
    height: 30px;
    padding-top:7px;
    position:absolute;
      top: 0px;
      display:flex;
      justify-content:space-around;
      flex-direction:row;
     color: azure;
}

.mobile-responsive{
    height:100%; 
    border-right:#8e8e8ed9; 
    text-align:right center; 
    font-family:'Lato' sans-serif;
    display:flex; 
    /* font-weight:680; */
    font-size:12px;
    text-transform:capitalize;
    font-family: Verdana, sans-serif;
}
.govt-heading{
    border-right:1px solid white; 
    padding-right:10px;
    color: white;
    display: flex;
    align-items: center;
    
}
.odia{
    padding-left:10px;
}
.container2{
    height:100%; 
    text-align:right center; 
    font-family:'Lato', sans-serif;
    display:flex; 
    /* text-weight:680; */
    font-size:12px;
    text-transform:capitalize;
    text-align:right;
}
.yellow-text{
    color: #ffeb3b !important;
    margin-right:37px
}
.odiayai{
    margin-left:30px
}
.social-icons{
    display: flex;
    margin-left:30px;
    color: azure;
    justify-content: space-around;
}
.navbar{
    display: flex;
     padding-left: 25%; 
     background-color:#009d00; 
     margin-top:-4px;
     height: 43px;
    
}
.main-container{
    display:flex;
    margin-top: 0px;
    list-style: none;
}
li:hover{
    background-color: #286e28;
    transition: 0.5s;
    
}
.home{
    margin-top: 7px;
}
.white-text{
    text-decoration: none;
    box-sizing: border-box;
    color:white;
    margin-right: 27px;
    padding-left: 6px;
    transition: 0.5s;
    cursor: pointer;
}
.odishalogo{
    padding-top: 1%; 
    height:100px; 
    width:152px;
}
.nav-wrapper{
    margin: 0px;
}
.whitext{
    color: white;
    margin-top: 2px;
}
.box{
    margin-left:1167px;
    margin-bottom: -53px;
}
